<div class="banner">
    <img src="../assets/images/banner.jpg" style="width:100%;height:645px"  class="img-responsive" alt="slide">
    <div class="welcome-message">
        <div class="wrap-info">
            <div class="information">
                <h1  class="animated fadeInDown">Kereta Api Terbaik di Indonesia</h1>
                <p class="animated fadeInUp">Tempat pemesanan tiket kereta api secara online</p>
            </div>
            </div>
    </div>
</div>
<!-- reservation-information -->
<div id="information" class="spacer reserve-info ">


<h3 align="center">Selamat Datang Di Situs Kami</h3>
<p align = "center">Menjadi penyedia jasa perkeretaapian terbaik yang fokus pada pelayanan pelanggan dan memenuhi harapan stakeholders
</p>

</div>
<!-- reservation-information -->
