<h2 align="center">Daftar Tiket Kereta Api</h2>
<table class="trains" align = "center" width = "1000">
  <tr width>
    <th>Kereta Api</th>
    <th>Berangkat</th>
    <th>Datang</th>
    <th>Harga</th>
    <th>Ketersediaan</th>
  </tr>
  <tr *ngFor="let train of trains">
    <td>{{train.nama_kereta}} ({{train.id_kereta}})</td>
    <td>{{train.berangkat | date: 'medium'}}</td>
    <td>{{train.datang | date: 'medium'}}</td>
    <td>Rp {{train.harga}}</td>
    <td *ngIf="train.kapasitas>=jumlahPenumpang"><button class = "ph-button ph-btn-blue" (click) = "gotoBooking(train)">Pesan</button></td>
    <td *ngIf="train.kapasitas<jumlahPenumpang">Habis</td>
  </tr>
</table>
