

    <h2 align="center">Reservasi Tiket</h2>

    <table border=1 width=300 align = "center" cellpadding="0" cellspacing="0">
    <tr><th><h4 align="center">Info Jadwal & Reservasi</h4></th></tr>
    <br>
      <form name="form" (ngSubmit)="f.form.valid && tampilkanKereta(date.value,departure.value,arrive.value,slot.value)" #f="ngForm" novalidate>
          <div class="form-group">
              <tr>
                <td width = 20></td>
                <td width = 260><label for ="tanggal">Tanggal </label></td>
                <td width = 20></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <select #date class="form-control">
                    <option value="0">...</option>
                    <option [value]="day.date" *ngFor="let day of days">{{day.date | date: 'dd MMMM yyyy'}}</option>
                  </select>
                </td>
                <td></td>
              </tr>

              <tr>
                <td></td>
                <td width = 250><label for ="name">Stasiun Asal</label></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <select #departure class="form-control">
                    <option value="0">...</option>
                    <option [value]="station.id_stasiun" *ngFor="let station of stations">{{station.nama_stasiun}}</option>
                  </select>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><label for ="namaPemesan">Stasiun Tujuan</label></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <select #arrive class="form-control">
                    <option value="0">...</option>
                    <option [value]="station.id_stasiun" *ngFor="let station of stations">{{station.nama_stasiun}}</option>
                  </select>
                </td>
                <td></td>
             </tr>

             <tr>
               <td></td>
               <td><label for ="namaPemesan">Jumlah Penumpang</label></td>
               <td></td>
             </tr>
             <tr>
               <td></td>
               <td>
                 <select #slot class="form-control">
                  <option [value] = "0">...</option>
                  <option [value] ="1">1</option>
                  <option [value] ="2">2</option>
                  <option [value] ="3">3</option>
                  <option [value] ="4">4</option>
                </select>
               </td>
               <td></td>
            </tr>

</div>

          <div align="center" class="form-group">
              <button [disabled]="loading" class="btn btn-primary" style="background-color:#262626">Tampilkan</button>

              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

          </div>
      </form>
    </table>
